.wave {
  position: relative;
  width: 100%;
  height: 100px; /* Adjust the height as needed */
  background: #3498db; /* Change the background color to your desired color */
}

.wave:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px; /* Adjust the wave height as needed */
  background: linear-gradient(90deg, transparent, #3498db);
  transform: rotate(180deg);
}

.job-detail-page {
  margin-top: 10px !important;
}
